.main-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: calc(100% - 60px);
    max-width: 1440px;
    margin: 1.5rem 30px;
}

.card-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
}
.table-container {
    width: 50%;
    display: block;
}


@media (max-width:767px) {
    .main-content {
        width: 100%;
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        padding: 0 24px;
    }
    .card-container,
    .table-container {
        width: 100%;
        gap: 0;
    }
}