.table {
    width: 100%;
    display: block;
    border-collapse: collapse;
    overflow-x: scroll;
}
 td, th {
    border: 1px solid #B4B4B7;
    width: 22%;
    padding: 8px 16px;
  }
td{
    color: #8B8E92;
}
td:nth-child(2),
td:nth-child(4)
{
    color: #06060D;
}
th{
    color: #06060D;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left;
}
  
.w-20 {
    width: 20%;
}